body {
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

.form-group {
    margin-bottom: 20px;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.report tr.report-row-3 {
    font-weight: bold;
    background-color: #38ace5;
    border-top-style: solid;
    border-bottom-style: solid;
}

.report tr.report-row-2 {
    font-weight: bold;
    background-color: #caebfa;
}

.report tr.report-row-1 {
    font-weight: bold;
}

.report tr.report-row-0 td.report-col-name {
    text-indent: 20px;
}

.report tr.report-row-total {
    font-weight: bold;
}

.report td.report-col-amount {
    text-align: right;
}

.report td.report-col-total {
    font-weight: bold;
}

.pivot-table td {
    text-align: right;
}

.pivot-table td.subhead {
    text-align: left;
    text-indent: 20px;
}

.pivot-table td.emphasis {
    font-weight: bold;
}

.pivot-table td.warningX {
    color: red;
}

.pivot-table tr.superhead {
    background-color: #b0c4de7a;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.bd-footer a {
    color: #495057;
    text-decoration: none
}

.bd-footer a:hover,
.bd-footer a:focus {
    color: #0d6efd;
    text-decoration: underline
}