@using Microsoft.Extensions.Options;
@using Common.DotNet;
@inject IOptions<BrandConfig> _brandconfig
@inject IOptions<CodebaseConfig> _codebaseonfig
@inject DemoConfig _democonfig;
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.1" />
        <link rel="manifest" href="/manifest.webmanifest" />
        <link rel="icon" href="/favicon.ico" sizes="any" />
        <link rel="icon" href="/icon.svg" type="image/svg+xml" />
        <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
        <link rel="stylesheet" href="~/css/print.css" />
    </head>
    <body>
        @RenderBody()
    </body>
</html>
