@using Microsoft.AspNetCore.Identity
@using YoFi.Core.Models
@using YoFi.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="navbar-nav ms-auto">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" data-test-id="hello-user" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </li>
        </ul>    
        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Home")" method="post" id="logoutForm">
            <button type="submit" class="btn btn-secondary my-2 my-sm-0" data-test-id="logout">Log out</button>
        </form>
    </div>
}
else
{
    <ul class="navbar-nav navbar-right">
        <li class="nav-item"><a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a></li>
        <li class="nav-item"><a class="nav-link" id="a-login" data-test-id="login" asp-area="Identity" asp-page="/Account/Login">Log in</a></li>
    </ul>
}
