<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Include>[YoFi.AspNet]*</Include> <!-- [Assembly-Filter]Type-Filter -->
          <Exclude>[*]Common.*,[*]YoFi.Services.*,[*]YoFi.Core.SampleGen*,[*]YoFi.AspNet.Data*,[*]YoFi.AspNet.Areas.Identity*,[*]YoFi.AspNet.Boilerplate*</Exclude> <!-- [Assembly-Filter]Type-Filter -->
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>