@page
@model Yofi.AspNet.Pages.HomeModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Home";
}

<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777" /></svg>

            <div class="container">
                <div class="carousel-caption text-start">
                    <h1>Your own finances. Your own code.</h1>
                    <p>YoFi is an open source web-based personal finance manager written in C# on ASP.NET Core. Host it on a cloud service to enable access to your personal finances from any device anywhere anytime, while running on hardware you control.</p>
                    <p><a class="btn btn-lg btn-primary" asp-controller="Transactions" asp-action="Index">Try the demo</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777" /></svg>

            <div class="container">
                <div class="carousel-caption">
                    <h1>100% free and Open Source.</h1>
                    <p>YoFi is MIT-licensed, hosted on GitHub, and will always be free and open source. Fork it today and get hacking!</p>
                    <p><a class="btn btn-lg btn-primary" href="https://jcoliz.visualstudio.com/Ofx" target="_blank">See the code</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777" /></svg>

            <div class="container">
                <div class="carousel-caption text-end">
                    <h1>Easy to deploy.</h1>
                    <p>
                        The fastest and simplest way to bring up YoFi for your own use is to deploy it to Azure.
                        Use the included ARM deployment template to create all the needed resources in 
                        Azure, including an App Service, SQL Database, Storage, etc., and automatically deploy the most recent build.
                    </p>
                    <p><a class="btn btn-lg btn-primary" href="https://jcoliz.visualstudio.com/_git/Ofx?path=/deploy/ARM-Template.md&version=GBmaster&_a=preview" target="_blank">Learn more</a></p>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

    <!-- Four columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-3">
            <div class="img-container">
                <img class="overlay-img" src="~/images/import-white-60x.png" />
                <svg class="bd-placeholder-img rounded-circle" width="100" height="100" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
            </div>

            <h2>Import</h2>
            <p>Download your debit & credit card statements from your bank in OFX or CSV format. Import them into YoFi to get started.</p>
            <p><a class="btn btn-secondary"asp-controller="Transactions" asp-action="Import">Go to Imports &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3">
            <div class="img-container">
                <img class="overlay-img" src="~/images/tag-white-60x.png" />
                <svg class="bd-placeholder-img rounded-circle" width="100" height="100" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
            </div>

            <h2>Categorize</h2>
            <p>
                Assign categories to each transaction. This can be done automatically based on the payee for a transaction, using text match or regular expressions.
            </p><p>
                With unlimited levels of subcategories, bulk assignment, and splitting across multiple categories, you can clearly follow where you're spending your money.
            </p>
            <p><a class="btn btn-secondary" asp-controller="Transactions" asp-action="Index">Go to Transactions &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3">
            <div class="img-container">
                <img class="overlay-img" src="~/images/budget-white-60x.png" style="left:122px"/>
                <svg class="bd-placeholder-img rounded-circle" width="100" height="100" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
            </div>

            <h2>Budget</h2>
            <p>Create and track your budget on a yearly or monthly basis</p>
            <p><a class="btn btn-secondary" asp-area="" asp-controller="BudgetTxs" asp-action="Index">Go to Budgets &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3">
            <div class="img-container">
                <img class="overlay-img" src="~/images/chart-white-60x.png" style="left:120px; top:22px;" />
                <svg class="bd-placeholder-img rounded-circle" width="100" height="100" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
            </div>
            <h2>Report</h2>
            <p>Gain insights on where your money is going over time, and how you're doing on your budget. YoFi's super flexible reporting system gives you the insight.</p>
            <p><a class="btn btn-secondary" asp-controller="Transactions" asp-action="Report">Go to Reports &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</div><!-- /.container -->