@page
@model YoFi.AspNet.Pages.IconCreditsModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Icon Credits";
}
<div class="container marketing" style="text-align:center">
    <h2 class="mt-4 mb-4">Icon Credits</h2>
    <p>import by The Icon Z from the Noun Project</p>
    <p>Tag by artworkbean from the Noun Project</p>
    <p>budget by Gem Designs from the Noun Project</p>
    <p>chart by iconixar from the Noun Project</p>
</div>
