@page
@model YoFi.AspNet.Pages.ReportsModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Home";
}
@foreach (var section in Model.Reports)
{
    <div class="col-lg-6">
        @foreach (var report in section)
            @await Html.PartialAsync("DisplayReport", report)
    </div>
    <hr/>
}