@page "{id}"
@model YoFi.AspNet.Pages.ReportModel
@{
    Layout = "_Layout";
    ViewData["Title"] = Model.Report.Name;
}

@await Html.PartialAsync("_ReportNavbarPartial", Model)

<h2>@Model.Report.Name</h2>

@if (!string.IsNullOrEmpty(Model.Report.Description))
{
    <h3>@Model.Report.Description</h3>
}

<div class="row">
    <div class="col-md-6">
        <canvas id="chart"></canvas>
    </div>
    <div class="col-md-6">
        <div class="bg-light border p-2 mb-3">
            @await Html.PartialAsync("DisplayReport", Model.Report)
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.2/dist/chart.min.js" integrity="sha256-D2tkh/3EROq+XuDEmgxOLW1oNxf0rLNlOwsPIUX+co4=" crossorigin="anonymous"></script>
<script>
const ctx = document.getElementById('chart').getContext('2d');
const setup = @Html.Raw(Model.ChartJson);
const myChart = new Chart(ctx, setup);

/*
    const myChart = new Chart(ctx, {
        "type": "doughnut",
        "data": {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
            datasets: [{
                label: '# of Votes',
                data: [12, 19, 3, 5, 2, 3],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        }
    });
    */
</script>

<hr />
