@model OfxWeb.Asp.Controllers.PivotTable<OfxWeb.Asp.Controllers.Label, OfxWeb.Asp.Controllers.Label>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<table class="table pivot-table">
    <thead>
        <tr>
        <tr>
            <th></th>
            @foreach (var column in Model.Columns)
            {
                <th>
                    @column.Value
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var row in Model.RowLabels)
        {
            <tr>
                @if (string.IsNullOrEmpty(row.SubValue))
                {
                    <th>
                        @row.Value
                    </th>
                }
                else
                {
                    <td class="subhead">
                        @row.SubValue
                    </td>
                }
                @foreach (var column in Model.Columns)
                {
                    <td>
                        @Model.Table[row][column].ToString("C2")
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
