@model int

<div class="row">
    <div class="col-md-12">
        <h2>Choose download options...</h2>

        <input type="radio" id="year" name="allyears" value="false" checked>
        <label for="year">Current year (@Model)</label><br>
        <input type="radio" id="all" name="allyears" value="true">
        <label for="all">All years</label><br>
    </div>
</div>
