@model YoFi.AspNet.Models.Transaction

@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ID" />
        <input type="hidden" asp-for="Timestamp" />
        <input type="hidden" asp-for="BankReference" />
        <input type="hidden" asp-for="Amount" />
        <input type="hidden" asp-for="ReceiptUrl" />
        <div class="form-group">
            <label asp-for="Payee" class="control-label"></label>
            <input asp-for="Payee" class="form-control" />
            <span asp-validation-for="Payee" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Category" class="control-label"></label>
            <input asp-for="Category" class="form-control category-autocomplete" autocomplete="off" />
            <span asp-validation-for="Category" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Memo" class="control-label"></label>
            <input asp-for="Memo" class="form-control" />
            <span asp-validation-for="Memo" class="text-danger"></span>
        </div>
    </div>
</div>
