@model OfxWeb.Asp.Models.Split

@{
    ViewData["Title"] = "Edit Split";
}

<h2>@ViewData["Title"]</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <input type="hidden" asp-for="TransactionID" />
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control category-autocomplete" autocomplete="off" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Memo" class="control-label"></label>
                <input asp-for="Memo" class="form-control" />
                <span asp-validation-for="Memo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-controller="Transactions" asp-action="Edit" asp-route-id="@Model.TransactionID" class="btn btn-outline-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>
